<h1>Send Message</h1>

<%= form_tag messages_send_sms_path do %>
    <%= select_tag "user", options_from_collection_for_select(@users, "id", "email") %>
    <%= submit_tag "SMS" %>
<% end %>

<%= form_tag messages_send_email_path do %>
    <%= select_tag "user", options_from_collection_for_select(@users, "id", "email") %>
    <%= submit_tag "Email" %>
<% end %>