<div class="sign_up_form">

    <h2>sign up for fitbitch</h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.email_field :email, :placeholder => "Email" %></div>

        <div><%= f.text_field :phone_number, :placeholder => "Phone Number" %></div>

        <div><%= f.password_field :password, :placeholder => "Password" %></div>

        <div><%= f.password_field :password_confirmation, :placeholder => "Password Confirmation" %></div>
        <br/>

        <div><%= button_tag "Sign up", :type => "submit" %></div>
    <% end %>
</div>