<div class="top_bar">

</div>
<div class="container">
  <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
  <h1>fitbitch</h1>

        <div class="messages">
        <% if @messages.empty? %>
            <div class="happy_msg">
              <p>Yay looks like you're off to a great start! Best of luck, champ!</p>
            </div>
        <% end %>
        <% @messages.each do |message| %>
          <div class="message">
            <% if message.content_id %>
                <p class="message_type">You got a text message:</p>
                <% content_msg = message.content.message
                   if content_msg["STEPS"]
                     content_msg["STEPS"] = current_user.current_steps.to_s
                   end
                %>
                <p class="content"><%= content_msg %></p>
            <% else %>
                <p class="message_type">You got an email:</p>
                <% content_msg = message.meme.subject
                   if content_msg["STEPS"]
                     content_msg["STEPS"] = current_user.current_steps.to_s
                   end
                %>
                <p class="content">Subject: <%= content_msg %></p>
                <%= image_tag message.meme.image_url %>
            <% end %>

            <p class="timestamp"><%= message.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%Y-%m-%d %I:%M%p") %></p>
          </div>
        <% end %>
    </div>
</div>
